<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MTB Time Track</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}" />
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'em:index' %}">MTBRB - Event Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'em:riders' %}">Райдеры</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'em:stages' %}">Этапы</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'em:races' %}">Гонки</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'em:liderboard' %}">Лидеры</a></li>
        </ul>
  </div>
</nav>
<div class="container theme-showcase" role="main">
{% block body_block %}{% endblock %}
</div>

{% load static %}
<script type=text/javascript src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
{% load static %}
<script type=text/javascript src="{% static 'js/popper.min.js' %}"></script>
{% load static %}
<script type=text/javascript src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>