{% extends 'base.html' %}

{% block body_block %}

<div class="row mt-5">
    <h3 class="mx-auto">MTB</h3>
</div>

<div class="row mb-5">
    <h5 class="mx-auto">Event Manager</h5>
</div>

<div class="row my-5">
    <a class="w-100 btn btn-info mx-5" role="button" href="{% url 'em:riders' %}">
        <i class="fas fa-list mr-2"></i>Райдеры
    </a>
</div>

<div class="row my-5">
    <a class="w-100 btn btn-info mx-5" role="button" href="{% url 'em:stages' %}">
        <i class="fas fa-list mr-2"></i>Этапы
    </a>
</div>

<div class="row my-5">
    <a class="w-100 btn btn-info mx-5" role="button" href="{% url 'em:leaderboard' %}">
        <i class="fas fa-list mr-2"></i>Лидеры
    </a>
</div>

<div class="row my-7">
    <a class="w-100 btn btn-outline-secondary mx-5" role="button" href="{% url 'em:connection_test' 'start' %}">
        <i class="fas fa-list mr-2"></i>начать тест соединения
    </a>
    <a class="w-100 btn btn-outline-secondary mx-5" role="button" href="{% url 'em:connection_test' 'end' %}">
        <i class="fas fa-list mr-2"></i>завершить тест соединения
    </a>
</div>

<div class="text-center text-secondary f-xsm">Время сервера - {% now "T j.m.Y G:i" %}</div>

{% endblock %}