{% extends 'base.html' %}

{% block body_block %}

<div class="row mt-3">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Добавить гонку этапа</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}">Название</label>
                        {{ form.name }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.info.id_for_label }}">Информация</label>
                        {{ form.info }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.race_type.id_for_label }}">Тип гонки</label>
                        {{ form.race_type }}
                    </div>

                    <div class="form-group mt-5">
                        <a class="btn btn-danger float-left text-uppercase" href="{% url 'em:races' %}" role="button"><i class="fas fa-times-circle mr-2"></i> отмена</a>
                        <button class="btn btn-success float-right text-uppercase" type="submit"><i class="fas fa-check-circle mr-2"></i>добавить гонку</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}