{% extends 'base.html' %}

{% block body_block %}


<div class="row">
    <h3 class="text-center mx-auto mt-2">{{ race.name }}</h3>
</div>
<div class="row bg-light py-2">
    <h5 class="mx-auto"><label class="badge-info rounded px-2">Гонка на {% if race.isCountingTime %}время{% else %}баллы{% endif %}</label></h5>
    {% if race.info %}
    <div class="w-100 mx-2">
        <div class="bg-light">
            <p class="text-justify m-2">{{ race.info }}</p>
        </div>
    </div>
    {%  endif %}
</div>
<div class="row my-3">
    <a class="w-100 text-center text-primary" href="{% url 'em:stage_details' stage.id %}">
        <i class="fas fa-arrow-left mr-2"></i>вернуться к этапу
    </a>
</div>

{% if riders %}
<div class="row mx-1 mb-3 mt-3 border border-secondary rounded bg-info">
    <h5 class="text-center mx-auto mt-2">управление гонкой</h5>
    {% for rider in riders %}
     <div class="w-100 border border-secondary rounded bg-light my-2 mx-2">
        <div class="mx-3 my-2">
            <h3 class="text-center mx-auto"><a class="w-100" href="{%url 'em:rider_details' rider.id%}">{{ rider.name }}</a></h3>
            <h4 class="text-center mx-auto">- {{ rider.number }} -</h4>
        </div>

         {% if rider.results %}
             <ul class="list-group row mx-5 mb-2 mt-4">
             {% for result in rider.results %}
                 {% if race.isCountingTime %}
                     <li class="list-group-item bg-info text-white mb-1 text-center">{{ result.result_time }}</li>
                     {% else %}
                     <li class="list-group-item bg-info text-white mb-1 text-center">{{ result.points }}</li>
                 {% endif %}
             {% endfor %}
             </ul>
         {% endif %}

         <div class="row mx-5 mb-2 mt-4 border border-secondary p-2">
             {% if race.isCountingTime %}
                <a class="btn btn-secondary mb-2 col-sm-12" href="{%url 'em:rider_prepare_to_race_with_time' rider.id race.id stage.id%}">
                    <i class="fas fa-flag mr-2"></i>приготовить к старту
                </a>
             {% else %}
                <form class="w-100 my-1 form-group" action="{%url 'em:rider_prepare_to_race_with_points' rider.id race.id stage.id%}" method="post">
                 {% csrf_token %}
                     <input class="form-control" placeholder="Назначить баллы" type="number" maxlength="4" name="points">
                     <input class="form-control w-100 mt-3 btn btn-success" type="submit" value="назначить">
                 </form>
             {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="mx-5 mb-2 mt-4">
    <div class="mx-5">
        <button class="w-100 btn btn-outline-danger" onclick="$('#kick-{{ race.id }}').toggle();">
            <i class="fas fa-ban mr-2"></i>Удалить гонку
        </button>
    </div>
    <div class="mx-5 mt-5" id="kick-{{ race.id }}" style="display: none">
        <a class="w-100 btn btn-outline-danger" href="{% url 'em:race_delete' race.id stage.id %}">
            подтвердить
        </a>
    </div>
</div>

{% endblock %}