{% extends 'base.html' %}

{% block body_block %}

<div class="container">
    <div class="col-md-12">
        <div class="row">
            {% if rider.photo %}
                <img class="img-responsive img-rounded" src="{{ rider.photo.url }}" alt="rider_photo">
            {% endif %}
        </div>
        <div class="row">
            <h1 class="text-primary text-center">{{ rider.name }}</h1>
            <h4 class="text-justify">{{ rider.info }}</h4>
        </div>
    </div>
</div>

{% endblock %}