{% extends 'base.html' %}

{% block body_block %}

<div class="row mt-3">
    <div class="mx-auto">
        <h2>[{{ rider.number }}] {{ rider.name }}</h2>
    </div>
</div>

<div class="row mt-3">
    <div class="w-100 mx-2">
        {% if rider.photo %}
            <img class="img-fluid img-thumbnail" src="{{ rider.photo.url }}" alt="rider_photo">
        {% endif %}
    </div>

    <div class="w-100 mx-2 mt-3">
        <div class="bg-light">
            <p class="text-justify m-2">{{ rider.info }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="w-100 mx-5 mt-5">
        <button class="w-100 btn btn-danger" onclick="$('#delete-riderId-{{ rider.id }}').toggle();">
            Удалить райдера?
        </button>
    </div>
    <div class="mx-auto mt-4" id="delete-riderId-{{ rider.id }}" style="display: none">
        <a class="w-100 btn btn-outline-danger" href="{% url 'em:rider_delete' rider.id %}">
            подтвердить
        </a>
    </div>
</div>

{% endblock %}