{% extends 'base.html' %}

{% block body_block %}

<div class="row mt-3">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Добавить райдера</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Имя</label>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.info.id_for_label }}">Информация</label>
                        {{ form.info.errors }}
                        {{ form.info }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.number.id_for_label }}">Номер</label>
                        {{ form.number.errors }}
                        {{ form.number }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.photo.id_for_label }}">Фото</label>
                        {{ form.photo.errors }}
                        {{ form.photo }}
                    </div>

                    <div class="form-group mt-5">
                        <a class="btn btn-danger float-left text-uppercase" href="{% url 'em:riders' %}" role="button"><i class="fas fa-times-circle"></i> отмена</a>
                        <button class="btn btn-success float-right text-uppercase" type="submit"><i class="fas fa-check-circle"></i> добавить райдера</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}