{% extends 'base.html' %}

{% block body_block %}

<div class="mt-3">
    <div class="row">
        <h3 class="mx-auto">Список этапов</h3>
        <a class="w-100 btn btn-success mx-3" role="button" href="{% url 'em:stage_add' %}">
            <i class="fas fa-plus-square"></i> Добавиь этап
        </a>
    </div>
</div>
<div class="mt-4">
    {% if stages_list %}
    {% for stage in stages_list %}
    <div class="row bg-light border border-secondary my-3 mx-1 p-2">
        <div class="col-sm-12">
            <h4>
                {{ stage.name }}
            </h4>
        </div>
        <div class="col-sm-12">
            Начало:
            <h5>
                {{ stage.date_start }}
            </h5>
        </div>
        <div class="col-sm-12">
            <a class="w-100 mx-auto btn btn-info" href="{% url 'em:stage_details' stage.id %}" role="button"><i class="fas fa-info-circle"></i> подробнее</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="mx-3 my-5">
        <a class="w-100 btn btn-info text-uppercase" role="button" href="{% url 'em:stage_add' %}">
            <i class="fas fa-info-circle"></i>
                нужно добавить этап
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}