{% extends 'base.html' %}

{% block body_block %}


<div class="row">
    <div class="mx-auto">
        <h4 class="text-center my-2 mx-auto">этап</h4>
        <h3 class="text-center my-2 mx-auto">{{ stage.name }}</h3>
    </div>
</div>
<div class="row">
    <div class="w-100 mx-3">
        <span class="text-success">начало</span><h5 class="text-primary">{{ stage.date_start }}</h5>
    </div>
    <div class="w-100 mx-3">
        <span class="text-danger">конец</span><h5 class="text-primary">{{ stage.date_end }}</h5>
    </div>
</div>
{% if stage.info %}
<div class="row">
    <div class="w-100 mx-3 mt-2 bg-light">
        <p class="text-justify m-2">
            {{ stage.info }}
        </p>
    </div>
</div>
{% endif %}
<div class="row my-3">
    <a class="w-100 text-center text-primary" href="{% url 'em:stages'%}">
        <i class="fas fa-arrow-left mr-2"></i>вернуться к списку этапов
    </a>
</div>

<div class="row mx-1 mb-2 mt-3 border border-secondary rounded bg-warning">
    <div class="mx-auto">
        <h3 class="mt-2">гонки</h3>
    </div>
    {% if races %}
    <a class="w-100 btn btn-success mx-5 mb-3" role="button" href="{% url 'em:race_add' stage.id %}">
        <i class="fas fa-plus-square"></i> Добавиь гонку
    </a>
    {% for race in races %}
     <div class="w-100 border border-secondary bg-light rounded my-2 mx-2">
        <div class="mx-3 my-2">
            <h3 class="text-center"><a class="w-100 text-primary" href="{% url 'em:race_details' race.id stage.id %}">{{ race.name }}</a></h3>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="w-100 mx-3 my-2">
        <a class="w-100 btn btn-outline-dark bg-light text-uppercase text-primary" role="button" href="{% url 'em:race_add' stage.id%}">
            <i class="fas fa-info-circle"></i>
                нужно добавить гонки
        </a>
    </div>
    {% endif %}
</div>

<div class="row mx-1 mb-3 mt-5 border border-secondary rounded bg-info">
    <div class="mx-auto">
        <h3 class="mt-2">райдеры</h3>
    </div>
    {% if riders %}
    <a class="w-100 btn btn-success mx-5 mb-3" role="button" href="{% url 'em:riders' %}">
        <i class="fas fa-plus-square"></i> Добавиь райдера
    </a>
    {% for rider in riders %}
     <div class="w-100 border border-secondary rounded bg-light my-2 mx-2">
        <div class="mx-3 my-2">
            <h5 class="text-center">- {{ rider.number }} -</h5>
            <h3 class="text-center"><a class="w-100" href="{% url 'em:rider_details' rider.id %}">{{ rider.name }}</a></h3>
        </div>

        <div class="mx-5 mb-2 mt-4">
            <div class="mx-3">
                <button class="w-100 btn btn-outline-dark" onclick="$('#kick-{{ rider.id }}').toggle();">
                    Убрать райдера из этапа?
                </button>
            </div>
            <div class="mx-5 mt-5" id="kick-{{ rider.id }}" style="display: none">
                <a class="w-100 btn btn-outline-danger" href="{% url 'em:rider_stage_unassign' rider.id stage.id %}">
                    подтвердить
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="w-100 mx-3 my-2">
        <a class="w-100 btn btn-outline-dark bg-light text-uppercase text-primary" role="button" href="{% url 'em:riders' %}">
            <i class="fas fa-info-circle"></i>
            нужно добавить участников
        </a>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="w-100 mx-5 mt-5">
        <button class="w-100 btn btn-outline-danger" onclick="$('#delete-stageId-{{ stage.id }}').toggle();">
            Удалить этап?
        </button>
    </div>
    <div class="mx-auto mt-4" id="delete-stageId-{{ stage.id }}" style="display: none">
        <a class="w-100 btn btn-outline-danger" href="{% url 'em:stage_delete' stage.id %}">
            подтвердить
        </a>
    </div>
</div>

{% endblock %}