{% extends 'base.html' %}

{% block body_block %}
<div class="row mt-3">
    <div class="col-md-4">
        <h3>Список этапов</h3>
        <a class="btn btn-success" role="button" href="{% url 'em:stage_add' %}">
            <i class="fas fa-plus-square"></i> Добавиь этап
        </a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <table class="table table-hover table-responsive table-bordered">
            <thead class="text-uppercase bg-light">
                <tr>
                    <th class="col-md-6">название</th>
                    <th class="col-md-5">дата начала</th>
                    <th class="col-md-1">дополнительно</th>
                </tr>
            </thead>
            <tbody>
            {% if stages_list %}
            {% for stage in stages_list %}
            <tr>
                <td>{{ stage.name }}</td>
                <td>{{ stage.date_start }}</td>
                <td>
                    <a class="btn btn-info text-uppercase" href="{% url 'em:stage_details' stage.id %}" role="button"><i class="fas fa-info-circle"></i> подробнее</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="row">
                <td class="text-center text-info text-uppercase">stages list is empty</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}