{% extends 'base.html' %}

{% block body_block %}

<div class="row mt-3">
    <div class="col-md-12">
        <div class="panel panel-primary">
            {% if form.errors %}
                {% for error in form.errors %}
                    <p><strong>{{ error }}</strong></p>
                {% endfor %}
            {% endif %}

            <div class="panel-heading">
                <h3 class="panel-title">Добавить этап</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}

                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Название</label>
                        {{ form.name }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.info.id_for_label }}">Информация</label>
                        {{ form.info }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.date_start.id_for_label }}">Начало</label>
                        {{ form.date_start }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.date_end.id_for_label }}">Конец</label>
                        {{ form.date_end }}
                    </div>


                    <div class="form-group mt-5">
                        <a class="btn btn-danger float-left text-uppercase" href="{% url 'em:stages' %}" role="button"><i class="fas fa-times-circle"></i> отмена</a>
                        <button class="btn btn-success float-right text-uppercase" type="submit"><i class="fas fa-check-circle"></i> добавить этап</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}