{% extends 'base.html' %}

{% block body_block %}


<div class="row">
    <div class="mx-auto">
        <h6 class="text-center text-secondary my-2 mx-auto">этап</h6>
        <h2 class="text-center my-2 mx-auto">{{ stage.name }}</h2>
    </div>
</div>
<div class="row">
    <div class="w-100 mx-3">
        <span class="text-success">начало</span><h5 class="text-primary">{{ stage.date_start }}</h5>
    </div>
</div>
{% if stage.info %}
<div class="row">
    <div class="w-100 mx-3 mt-2 bg-light">
        <p class="text-justify m-2">
            {{ stage.info }}
        </p>
    </div>
</div>
{% endif %}
<div class="row my-3">
    <a class="mx-auto text-center text-white bg-link px-2 rounded" href="{% url 'em:stages'%}">
        <i class="fas fa-arrow-left mr-2"></i>вернуться к списку этапов
    </a>
</div>

<div class="row mx-1 mb-2 mt-3 border border-dark rounded bg-secondary">
    <div class="mx-auto">
        <h3 class="mt-2 text-white">трассы этапа</h3>
    </div>

    {% if tracks %}
    <a class="w-100 btn btn-success mx-5 mb-3" role="button" href="{% url 'em:track_add' stage.id %}">
        <i class="fas fa-plus-square"></i> Добавиь трассу этапа
    </a>
    {% for track in tracks %}
     <div class="w-100 border border-secondary bg-light rounded my-3 mx-3">
        <div class="mx-3 my-2">
            <h3 class="text-center"><a class="w-100 text-primary" href="{% url 'em:track_details' track.id stage.id %}">{{ track.name }}</a></h3>
            <h6 class="text-center">
                <label class="border bg-white rounded text-secondary px-3 py-2">
                    <i class="far fa-eye mr-2"></i>
                    {% if track.isOpened %}
                        <span class="text-success">активно</span>
                    {% else %}
                        <span class="text-danger">закрыто</span>
                    {% endif %}
                </label>
            </h6>
        </div>

         {% if track.leaders %}
            <div class="row mx-1 mb-3 mt-3">
            <h6 class="mx-auto text-secondary">лидеры</h6>
                <ul class="list-group w-100 text-justify">
                    {%  for leader in track.leaders|slice:":3" %}
                        <li class="list-group-item bg-sky">
                            {% if leader.time %}
                                <span class="float-left">
                                    <i class="fas fa-bicycle mr-1 text-info"></i>
                                    <label class="f-sm text-warning">{{ leader.number }}</label>
                                    <i class="fas fa-circle mr-1 text-light"></i>
                                    <label class="f-sm text-danger">{{ leader.name }}</label>
                                </span>
                                <span class="float-right">
                                    <i class="fas fa-stopwatch mr-1 text-info"></i>
                                    <label class="f-sm">{{ leader.time }}</label>
                                </span>
                            {% else %}
                                {% if leader.points > 0 %}
                                <span class="float-left">
                                    <i class="fas fa-bicycle mr-1 text-info"></i>
                                    <label class="f-sm text-warning">{{ leader.number }}</label>
                                    <i class="fas fa-circle mr-1 text-light"></i>
                                    <label class="f-sm text-danger">{{ leader.name }}</label>
                                </span>
                                <span class="float-right">
                                    <i class="fas fa-star mr-1 text-info"></i>
                                    <label class="f-sm">{{ leader.points }}</label>
                                </span>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
         {% endif %}

    </div>
    {% endfor %}
    {% else %}
    <div class="w-100 mx-3 my-2">
        <a class="w-100 btn btn-outline-dark bg-light text-uppercase text-primary" role="button" href="{% url 'em:track_add' stage.id%}">
            <i class="fas fa-info-circle"></i>
                нужно добавить трассы
        </a>
    </div>
    {% endif %}
</div>

<div class="row mx-1 mb-3 mt-5 border border-dark rounded bg-secondary">
    <div class="mx-auto">
        <h3 class="mt-2 text-white">райдеры этапа</h3>
    </div>
    {% if riders %}
    <a class="w-100 btn btn-success mx-5 mb-3" role="button" href="{% url 'em:riders' %}">
        <i class="fas fa-plus-square"></i> Добавиь райдера на этап
    </a>
    {% for rider in riders %}
     <div class="w-100 border border-secondary rounded bg-light my-3 mx-3">
        <div class="mx-3 my-2">
            <h5 class="text-center">- {{ rider.number }} -</h5>
            <h3 class="text-center"><a class="w-100" href="{% url 'em:rider_details' rider.id %}">{{ rider.name }}</a></h3>
        </div>

        <div class="mx-5 mb-4 mt-4">
            <div class="mx-3">
                <button class="w-100 btn btn-dark" onclick="$('#kick-{{ rider.id }}').toggle();">
                    Убрать из этапа?
                </button>
            </div>
            <div class="mx-5 mt-5" id="kick-{{ rider.id }}" style="display: none">
                <a class="w-100 btn btn-danger" href="{% url 'em:rider_stage_unassign' rider.id stage.id %}">
                    подтвердить
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="w-100 mx-3 my-2">
        <a class="w-100 btn btn-outline-dark bg-light text-uppercase text-primary" role="button" href="{% url 'em:riders' %}">
            <i class="fas fa-info-circle"></i>
            нужно добавить участников
        </a>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="w-100 mx-5 mt-5">
        <button class="w-100 btn btn-outline-danger" onclick="$('#delete-stageId-{{ stage.id }}').toggle();">
            Удалить этап?
        </button>
    </div>
    <div class="mx-auto mt-4" id="delete-stageId-{{ stage.id }}" style="display: none">
        <a class="w-100 btn btn-outline-danger" href="{% url 'em:stage_delete' stage.id %}">
            подтвердить
        </a>
    </div>
</div>

{% endblock %}