{% extends 'base.html' %}

{% block body_block %}

    <div class="row">
        <div class="mx-auto">
            <h6 class="text-center text-secondary my-2 mx-auto">трэк
            {% if track.isQualification %}
                 квалификации
            {% endif %}
            </h6>
            <h2 class="text-center mx-auto mt-2">{{ track.name }}</h2>
        </div>
    </div>
    <div class="row bg-light py-2">
        {% if track.isOpened %}
            <h6 class="col-sm-6 mt-3 text-center"><label class="badge-success rounded px-3 py-2">Статус: активно</label></h6>
        {% else %}
            <h6 class="col-sm-6 mt-3 text-center"><label class="badge-dark rounded px-3 py-2">Статус: закрыто</label></h6>
        {% endif %}

        <h5 class="text-center">
            <label class="badge-info rounded px-3 py-2">
                Соревнование на {% if track.isCountingTime %}время{% else %}баллы{% endif %}
            </label>
        </h5>

        {% if track.info %}
            <div class="w-100 mx-2">
                <div class="bg-light">
                    <p class="text-justify m-2">{{ track.info }}</p>
                </div>
            </div>
        {%  endif %}
    </div>

    <div class="row my-3">
        <a class="mx-auto text-center text-white bg-link px-2 rounded" href="{% url 'em:stage_details' stage.id %}">
            <i class="fas fa-arrow-left mr-2"></i>вернуться к этапу
        </a>
    </div>

    {% if current_rider %}
        <div class="row my-3">
            <a class="mx-auto mt-2 text-center text-white bg-info px-2 rounded" href="#rider-{{ current_rider }}">
                <i class="fas fa-arrow-down mr-2"></i>кто сейчас едет
            </a>
        </div>
    {% endif %}

    {% if riders %}

        {% if leaders %}
            <div class="row mx-1 mb-4 mt-3 border border-secondary rounded bg-secondary">
                <h5 class="mx-auto text-white">лидеры</h5>
                <ul class="list-group w-100 text-justify">
                    {%  for leader in leaders|slice:":3" %}
                        <li class="list-group-item">
                            <a href="#rider-{{ leader.id }}">
                                {% if leader.time %}
                                    <span class="float-left">
                                        <i class="fas fa-bicycle mr-1 text-info"></i>
                                        <label class="f-sm text-warning">{{ leader.number }}</label>
                                        <i class="fas fa-circle mr-1 text-light"></i>
                                        <label class="f-sm text-danger">{{ leader.name }}</label>
                                    </span>
                                    <span class="float-right bg-sky px-2 rounded">
                                        <i class="fas fa-stopwatch mr-2 text-info"></i>
                                        <label class="f-n">{{ leader.time }}</label>
                                    </span>
                                {% else %}
                                    {% if leader.points > 0 %}
                                        <span class="float-left">
                                            <i class="fas fa-bicycle mr-1 text-info"></i>
                                            <label class="f-sm text-warning">{{ leader.number }}</label>
                                            <i class="fas fa-circle mr-1 text-light"></i>
                                            <label class="f-sm text-danger">{{ leader.name }}</label>
                                        </span>
                                        <span class="float-right bg-sky px-2 rounded">
                                            <i class="fas fa-star mr-2 text-info"></i>
                                            <label class="f-n">{{ leader.points }}</label>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}

                    {%  for leader in leaders|slice:"3:" %}
                        <div class="bg-white pt-1">
                            <a href="#rider-{{ leader.id }}">
                                {% if leader.time %}
                                    <div class="text-center">
                                        <i class="fas fa-bicycle mr-1 text-info"></i>
                                        <label class="f-xsm text-secondary">{{ leader.number }}</label>
                                        <i class="fas fa-circle mr-1 text-light"></i>
                                        <label class="f-xsm text-secondary">{{ leader.name }}</label>
                                        <i class="fas fa-stopwatch mr-2 text-info"></i>
                                        <label class="f-xsm text-secondary">{{ leader.time }}</label>
                                    </div>
                                {% else %}
                                    {% if leader.points > 0 %}
                                        <div class="text-center">
                                            <i class="fas fa-bicycle mr-1 text-info"></i>
                                            <label class="f-xsm text-secondary">{{ leader.number }}</label>
                                            <i class="fas fa-circle mr-1 text-light"></i>
                                            <label class="f-xsm text-secondary">{{ leader.name }}</label>
                                            <i class="fas fa-star mr-2 text-info"></i>
                                            <label class="f-xsm text-secondary">{{ leader.points }}</label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}

                </ul>
            </div>
        {% endif %}

        <div class="row mx-1 mb-3 mt-3 border border-secondary rounded bg-secondary">
            <h5 class="text-white mx-auto mt-2">управление соревнованием</h5>

            {% if track.isOpened %}
                <div class="w-100 mx-5 my-3">
                    <a class="btn btn-warning mb-2 col-sm-12" href="{%url 'em:rider_cancel_ride' track.id stage.id%}">
                        <i class="fas fa-flag-checkered mr-2"></i>отменить текущий заезд
                    </a>
                </div>
            {% endif %}

            {% for rider in riders %}
                <div class="w-100 border border-secondary rounded bg-light my-3 mx-3" id="rider-{{ rider.id }}">
                    <div class="mx-3 my-2">
                        <h3 class="text-center mx-auto"><a class="w-100" href="{%url 'em:rider_details' rider.id%}">{{ rider.name }}</a></h3>
                        <h4 class="text-center mx-auto">- {{ rider.number }} -</h4>
                    </div>

                    {% if rider.results %}
                        <ol type="1" class="text-primary">
                            {% for result in rider.results %}
                                <li class="mr-4 mt-3 pt-1 pb-3 pr-2 bg-sky">
                                    <span class="col-sm-10 f-sm">
                                        {% if result.status != 'OK' %}
                                            <span class="bg-dark py-1 px-2 rounded text-white">{{ result.status }}</span>
                                        {% else %}
                                            {% if track.isCountingTime %}
                                                {% if rider.best_time.result_time == result.result_time %}
                                                    <span class="text-success">{{ result.result_time }}</span>
                                                {% else %}
                                                    <span class="text-secondary">{{ result.result_time }}</span>
                                                {% endif %}
                                            {% else %}
                                                <span class="text-secondary">{{ result.points }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    {% if track.isOpened %}
                                        <button class="btn btn-outline-danger float-right" onclick="$('#result-delete-{{ result.id }}').toggle();">
                                            <i class="fas fa-ban"></i>
                                        </button>
                                        <a style="display: none" class="col-sm-12 btn btn-danger text-white mt-4 mb-2" id="result-delete-{{ result.id }}"
                                            href="{% url 'em:result_delete' result.id track.id stage.id %}"
                                        >удалить</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>

                        {% if not track.isCountingTime %}
                            <div class="text-center">Всего баллов:
                                <label class="ml-2 p-2 bg-secondary rounded text-white">
                                    {% if rider.total_score.points__sum %}
                                        {{ rider.total_score.points__sum }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </label>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if track.isOpened %}
                        <div class="row m-4">
                            <ul class="nav nav-pills mx-auto my-3">
                                <li class="nav-item mr-3">
                                    <button id="li-actions-{{ rider.id }}" class="btn btn-info active" onclick="
                                            $('#actions-{{ rider.id }}').show();
                                            $(this).addClass('active');
                                            $(this).addClass('btn-info');
                                            $('#li-statuses-{{ rider.id }}').removeClass('active');
                                            $('#li-statuses-{{ rider.id }}').addClass('btn-outline-info');
                                            $('#statuses-{{ rider.id }}').hide();
                                            ">действия</button>
                                </li>
                                <li class="nav-item ml-3">
                                    <button id="li-statuses-{{ rider.id }}" class="btn btn-outline-info" onclick="
                                            $('#statuses-{{ rider.id }}').show();
                                            $(this).addClass('active');
                                            $(this).addClass('btn-info');
                                            $('#li-actions-{{ rider.id }}').removeClass('active');
                                            $('#li-actions-{{ rider.id }}').addClass('btn-outline-info');
                                            $('#actions-{{ rider.id }}').hide();
                                            ">статусы</button>
                                </li>
                            </ul>

                            <div id="actions-{{ rider.id }}" class="w-100">
                                {% if track.isCountingTime %}
                                    {% if rider.id == current_rider %}
                                        <span class="btn btn-info mb-2 col-sm-12">
                                <i class="fas fa-flag mr-2"></i>в пути
                            </span>
                                    {% else %}
                                        <a class="btn btn-success mb-2 col-sm-12" href="{%url 'em:rider_prepare_to_ride_with_time' rider.id track.id stage.id%}">
                                            <i class="fas fa-flag mr-2"></i>приготовить к старту
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <form class="w-100 my-1 form-group" action="{%url 'em:rider_prepare_to_ride_with_points' rider.id track.id stage.id%}" method="post">
                                        {% csrf_token %}
                                        <input class="form-control" placeholder="Назначить баллы" type="number" maxlength="4" name="points">
                                        <input class="form-control w-100 mt-3 btn btn-success" type="submit" value="назначить">
                                    </form>
                                {% endif %}
                            </div>

                            <div id="statuses-{{ rider.id }}" class="w-100" style="display: none">
                                <form class="w-100 my-1 form-group" action="{%url 'em:rider_set_status' rider.id track.id stage.id%}" method="post">
                                    {% csrf_token %}
                                    {% for status in rider.statuses %}
                                        <div class="form-check text-center">
                                            <label class="form-check-label mb-3">
                                                <input class="form-check-input" value="{{ status }}" type="radio" name="status">{{ status }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <input class="form-control w-100 mt-3 btn btn-success" type="submit" value="назначить">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if track.isOpened %}
        <div class="mx-5 mb-2 mt-5">
            <div class="mx-5">
                <button class="w-100 btn btn-outline-warning" onclick="$('#finalize-{{ track.id }}').toggle();">
                    <i class="fas fa-ban mr-2"></i>завершить трек
                </button>
            </div>
            <div class="mx-5 mt-5" id="finalize-{{ track.id }}" style="display: none">
                <a class="w-100 btn btn-outline-warning" href="{% url 'em:track_finalize' track.id stage.id %}">
                    подтвердить
                </a>
            </div>
        </div>
    {% endif %}

    <div class="mx-5 mb-2 mt-5">
        <div class="mx-auto">
            <h6 class="text-center"><span class="bg-info text-white rounded py-1 px-2">* статусы:</span></h6>
            <ul class="list-group">
                <li class="list-group-item my-2"><span class="text-white bg-dark py-1 px-2 rounded">DNS</span> - не стартовал</li>
                <li class="list-group-item my-2"><span class="text-white bg-dark py-1 px-2 rounded">DNF</span> - не финишировал</li>
                <li class="list-group-item my-2"><span class="text-white bg-dark py-1 px-2 rounded">DSQ</span> - дисквалификация</li>
                <li class="list-group-item my-2"><span class="text-white bg-dark py-1 px-2 rounded">DRP</span> - выбыл</li>
            </ul>
        </div>
        <div class="mx-5 mt-5">
            <button class="w-100 btn btn-outline-danger" onclick="$('#kick-{{ track.id }}').toggle();">
                <i class="fas fa-ban mr-2"></i>удалить трек
            </button>
        </div>
        <div class="mx-5 mt-5" id="kick-{{ track.id }}" style="display: none">
            <a class="w-100 btn btn-outline-danger" href="{% url 'em:track_delete' track.id stage.id %}">
                подтвердить
            </a>
        </div>
    </div>

{% endblock %}