<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MTB Time Track</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'em/css/bootstrap.min.css' %}" />
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'em:index' %}">MTB - Time Track</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'em:stage_list_page' %}">Этапы</a></li>
                <li><a href="{% url 'em:cancel_race_page' %}">Заезды</a></li>
                <li><a href="{% url 'em:results' %}">Лидеры</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">
{% block body_block %}{% endblock %}
</div>
{% load static %}
<script type=text/javascript src="{% static 'em/js/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<script type=text/javascript src="{% static 'em/js/bootstrap.min.js' %}"></script>
</body>
</html>