{% extends 'em/base.html' %}

{% block body_block %}
<div class="page-header">
    <div class="row">
        <div class="col-md-4">
            <h3>Список райдеров</h3>
            <a class="btn btn-success" role="button" href="{% url 'em:rider_add' %}">
                <label class="glyphicon glyphicon-plus"></label> Добавиь райдера
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="text-uppercase">
            <tr>
                <th>фото</th>
                <th>имя</th>
                <th>байк</th>
                <th>информация</th>
            </tr>
            </thead>
            <tbody>
            {% if riders_list %}
            {% for rider in riders_list %}
            <tr>
                <td class="col-md-1">
                    {% if rider.photo %}
                        <img class="col-sm-12 img-circle img-thumbnail float-left size" src="{{ rider.photo.url }}" alt="rider_avatar">
                        {% else %}
                        {% load static %}
                        <img class="col-sm-12 img-circle img-thumbnail float-left" src="{% static 'em/img/default_avatar.png' %}" alt="rider_avatar">
                    {% endif %}
                </td>
                <td class="col-md-4">{{ rider.name }}</td>
                <td class="col-md-4">{{ rider.info }}</td>
                <td class="col-md-3">
                    <a class="btn btn-info" href="{% url 'em:rider_details' rider.id %}" role="button">подробнее</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>Riders list is empty.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}