{% extends 'em/base.html' %}

{% block body_block %}

<div class="row">
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default" href="{% url 'em:riders' %}" role="button">Назад</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Добавить райдера</h3>
                </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.name.errors }}
                            <label for="{{ form.name.id_for_label }}">Имя</label>
                            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" required placeholder="Введите имя">
                        </div>

                        <div class="form-group">
                            {{ form.info.errors }}
                            <label for="{{ form.info.id_for_label }}">Информация</label>
                            <input type="text" class="form-control" id="{{ form.info.id_for_label }}" name="{{ form.info.html_name }}" required placeholder="Дополнитнльно">
                        </div>

                        <div class="form-group">
                            {{ form.photo.errors }}
                            <label for="{{ form.photo.id_for_label }}">Фото</label>
                            <input type="file" class="form-control" id="{{ form.photo.id_for_label }}" name="{{ form.photo.html_name }}" required>
                        </div>

                        <button class="btn btn-success" type="submit">добавить райдера</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}