.f-l {
    font-size: 1.4rem;
}

.f-n {
    font-size: 1.3rem;
}

.f-sm {
    font-size: 1.2rem;
}

.f-xsm {
    font-size: 0.8rem;
}

.bg-link {
    background-color: #b681efbd!important;
}

.bg-sky {
    background-color: #f1f8fdd6!important;
}

.small-li {
    padding: 0.5rem 1rem 0.5rem 1rem;
}